@media screen and (max-width: 1500px){
    #section7{
        width: 100%;
        padding: 30px 0;
        display: block;
        position: relative;
        clear: both;
    }
    #section7::after{display: none;}
    .s7-left{
        float: left;
        width: 50%;
        height: 700px;
        padding: 50px 0;
        margin-right: 0;
        position: relative;
    }
    .s7-left::after{
        display: block;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #f7dce2;
        z-index: -1;
    }
    .s7-left h5{
        display: none;
    }
    .s7-left a{
        display: block;
        float: right;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 250px;
        transform: translate(-50%, -50%);
    }
    .s7-left a img{
        display: block;
        width: 100%;
    }
    .s7-left span{
        font-size: 25px;
        position: absolute;
        display: block;
        bottom: 60px;
        right: 30px;
    }
    .s7-left p{
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        bottom: 30px;
        right: 30px;
    }
    .s7-right{display: none}
    .s7-swiper{
        display: block;
        float: right;
        width: 50%;
        height: 700px;
        margin: 0;
    }
    .s7-swiper .swiper-slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #footer{
        display: block;
    }
    .footer-left{
        width: 100%;
    }
    .footer-right{
        width: 100%;
    }
    .fcontact>div>div:nth-child(2){
        margin-right: 50px;
    }
}
@media screen and (max-width: 1400px){
    #header{
        width: 100%;
        padding: 20px;
    }
    .depth1{display: none;}
    .small-menu{display: none;}
    .s2-box:nth-child(5){display: none;}
}
@media screen and (max-width: 1000px){
    .s2-box:nth-child(4){display: none;}
    .s3-bottom{
        padding: 0;
        margin: 20px 0 50px 0;
    }
    .s3-bottom a{
        height: 300px;
    }
    .s3-bottom a::after{
        bottom: 10px;
        right: 10px;
        width: 35px;
        height: 35px;
        background: #171C8F url('../img/icon-arrow-banner-1.svg') no-repeat center;
    }
    .s3-bottom span{
        padding: 5px 10px;
        font-size: 10px;
    }
    .s4-top{display: none;}
    .s4-bottom{
        display: block;
        width: 100%;
    }
    .s4-left{
        display: none;
    }
    .s4-right{
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    .s4rb-bottom span.s4r-price{
        font-size: 15px;
        font-weight: normal;
    }
    .s4rb-bottom a{
        font-size: 15px;
        font-weight: normal;
    }
    .s5-bottom{
        width: 100%;
        height: auto;
        margin: 50px auto;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .s5-bottom div{
        width: 49%;
        height: 350px;
        position: relative;
        display: inline-block;
    }
    .s6-bottom{
        display: flex;
        flex-wrap: wrap;
    }
    .s6box{
        width: 48%;
    }
    .s6bb{}
    .s6bb span{
        font-size: 11px;
    }
    .s6bb a{
        font-size: 15px;
        margin: 5px 0;
    }
    .s6bb p{
        font-size: 13px;
    }
    .s7-left{
        float: left;
        width: 50%;
        height: 400px;
        padding: 50px 0;
        margin-right: 0;
        position: relative;
    }
    .s7-left a{
        display: block;
        float: right;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        transform: translate(-50%, -50%);
    }
    .s7-swiper{
        display: block;
        float: right;
        width: 50%;
        height: 400px;
        margin: 0;
    }
    #section8{
        padding: 30px 0;
        margin-bottom: 50px;
    }
    .s8-top{
        text-align: auto;
    }
    .s8-top img{
        display: block;
        float: left;
        width: 22px;
        margin-left: 20px;
    }
    .s8-top h4{
        margin: 0 0 20px 5px;
        font-size: 24px;
        font-weight: bold;
        float: left;
    }
    .s8-top a{display: none;}
    .s8-bottom{
        clear: both;
        display: flex;
        height: 350px;
        padding: 0;
        gap: 20px;
    }
}
@media screen and (max-width: 800px){
    .depth1{display: none;}
    .full-menu{display: none;}
    .small-menu{
        display: none;
        position: absolute;
        top: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        z-index: 10;
        padding: 20px;
    }
    .sm-top{}
    .sm-top>input{
        outline: 0;
        width: calc(100% - 40px);
        float: left;
        padding: 7px;
        border: none;
        border-radius: 10px;
        background: url('../img/search.png') #eee no-repeat;
        background-position: right 10px center;
        background-size: 20px 20px;
    }
    .sm-top>a{}
    .sm-top>a>img{
        width: 20px;
        height: 20px;
        display: block;
        float: right;
        margin-top: 8px;
    }
    .sm-tab-nav{
        clear: both;
        width: 100%;
        height: 50px;
        /* background-color: yellow; */
    }
    .sm-tab-nav li a{
        display: block;
        float: left;
        width: 50%;
        font-size: 17px;
        text-align: center;
        padding: 10px 0;
        color: #666;
    }
    .sm-tab-nav li a.active{
        border-bottom: 2px solid #000;
        color: #000;
    }
    .sm-depth1{}
    .sm-depth1>li{}
    .sm-depth1>li>a{
        clear: both;
        display: block;
        font-size: 16px;
        padding: 12px 10px;
        border-bottom: 1px solid #ccc;
    }
    .smd1-bg{
        background: url('../img/plus.png') no-repeat;
        background-position: right 15px center;
        background-size: 13px 13px;
    }
    .smd1-bg.active{
        background: url('../img/minus.png') no-repeat;
        background-position: right 15px center;
        background-size: 13px 13px;
    }
    .sm-depth2{
        background-color: #efefef;
        padding: 0 10px;
        display: none;
    }
    .sm-depth2>li{}
    .sm-depth2>li>a{
        display: block;
        float: left;
        width: 50%;
        font-size: 13px;
        color: #555;
        padding: 7px;
    }
    .sm-depth2>li>a:hover{
        color: #000;
        text-decoration: underline;
    }
    #tab2{}
    .sm2-depth1{}
    .sm2-depth1>li{}
    .sm2-depth1>li>a{
        float: left;
        width: 50%;
        display: block;
        font-size: 15px;
        color: #222;
        padding: 10px;
        /* background-color: yellow; */
    }
    .sm2-depth1>li>a:hover{
        text-decoration: underline;
    }
    .sm2-depth1>li>h5{clear: both;}
    .sm2-depth1>li>h5>a{
        display: block;
        width: 100%;
        height: auto;
        font-size: 16px;
        color: #222;
        background-color: #fff;
        padding: 10px;
        background: url('../img/btn_swiper_next.png') no-repeat;
        background-position: right 20px center;
        background-size: 10px 10px;
    }
    .sm2-depth1>li>h5>a:hover{
        text-decoration: underline;
    }
    .sm2d1-bg{
        background: url('../img/plus.png') no-repeat;
        background-position: right 20px center;
        background-size: 10px 10px;
    }
    .sm2d1-bg.active{
        background: url('../img/minus.png') no-repeat;
        background-position: right 20px center;
        background-size: 10px 10px;
    }
    .sm2-depth2{
        background-color: #efefef;
        padding: 0 10px;
        display: none;
        /* display: block; */
        width: 100%;
        clear: both;
    }
    .sm2-depth2>li{}
    .sm2-depth2>li>a{
        float: left;
        width: 50%;
        display: block;
        padding: 7px;
        color: #444;
        font-size: 13px;
    }
    .sm2-depth2>li>a:hover{
        color: #000;
        text-decoration: underline;
    }
    /* section1 */
    .swiper-scrollbar{
        display: none;
    }
    .ms-txtbox{
        z-index: 5;
        left: 30px;
        bottom: 120px;
    }
    .ms-txtbox h5{
        font-size: 25px;
        font-weight: 700;
    }
    .ms-txtbox span{
        font-size: 15px;
    }
    #section2{
        padding: 50px 0;
    }
    .s2-box:nth-child(3){display: none;}
    /* section3 */
    #section3{
        background: url('../img/s3_bg.jpg') no-repeat top center/160%;
        padding: 30px;
        text-align: auto;
    }
    .s3-top{
        text-align: center;
        clear: both;
    }
    .s3-top img{
        width: 16px;
        height: 28px;
        display: block;
        float: left;
        margin-right: 5px;
    }
    .s3-top h3{
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        float: left;
    }
    .s3-top p{
        display: none;
    }
    .s3-top-a{
        display: none;
    }
    .s3-top-txt{
        display: block;
        float: right;
        font-size: 15px;
    }
    #section3 .s3face{
        width: 285px;
        display: inline-block;
        text-align: center;
        margin: 100px 0 20px 0;
    }
    #section3 .s3txt{
        display: inline-block;
        margin: 0 0 40px 0;
    }
    .s3-bottom{
        display: block;
        padding: 0;
        margin: 20px 0 50px 0;
    }
    .s3b2{
        margin-top: 10px;
    }
    .s4-bottom{
        display: block;
        width: 100%;
    }
    .s4-left{
        display: flex;
        width: 100%;
    }
    .s4-right{
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .s4rb-bottom span{
        font-size: 10px;
    }
    .s4rb-bottom span.s4r-price{
        font-size: 13px;
    }
    .s4rb-bottom a{
        font-size: 13px;
    }
    #footer{
        font-size: 12px;
    }
    .fmenu{
        word-break: keep-all;
    }
    .footer-right{
        padding-top: 30px;
    }
    .fcontact h6{display: none;}
    .fsns{
        left: 20px;
    }
}
@media screen and (max-width: 600px){
    .s5-bottom{
        width: 90%;
        height: auto;
        margin: 50px auto;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .s5-bottom div{
        width: 100%;
        height: 300px;
        position: relative;
        display: inline-block;
    }
    .s6-top{
        text-align: auto;
    }
    #section6{
        padding: 20px 0;
    }
    .s6-top img{
        width: 20px;
        height: 27px;
        display: block;
        float: left;
        margin-left: 30px;
        margin-top: 10px;
    }
    .s6-top h4{
        float: left;
        font-size: 22px;
        margin-left: 5px;
    }
    .s6-top span{
        display: block;
        float: right;
        margin: 15px 30px 0 0;
        font-size: 14px;
        cursor: pointer;
    }
    .s6-top p{display: none;}
    .s6-top a{display: none;}
    .s6bb span{
        font-size: 10px;
    }
    .s6bb a{
        font-size: 13px;
    }
    .s6bb p{
        font-size: 10px;
    }
    .s7-left{
        float: left;
        width: 100%;
        height: 400px;
        padding: 50px 0;
        margin-right: 0;
        position: relative;
    }
    .s7-left a{
        display: block;
        float: right;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 170px;
        transform: translate(-50%, -50%);
    }
    .s7-swiper{
        display: block;
        width: 100%;
        height: 100%;
        margin: 50px 0;
    }
    .s7-swiper .swiper-slide img{
        width: 100%;
        height: 100%;
    }
    #section8{
        clear: both;
    }
    .s8-bottom{
        clear: both;
        display: block;
        height: auto;
        padding: 0;
    }
    .s8-bottom div{
        margin: 10px 0;
        height: 300px;
    }
    #footer{
        clear: both;
        padding-bottom: 20px;

    }
    #footer img{display: none;}
    .finfo div{margin-left: 0;}
    .fmenu a{
        padding: 0 10px;
        border-right: none;
    }
}
@media screen and (max-width: 500px) {
    #section1 .swiper-slide::after{
        width: 100%;
        height: 50%;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.7));
        background: -o-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.7));
        background: -moz-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.7));
        background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.7));
    }
    .mainslide1{
        background: url('../img/s_mainslide1.jpg') no-repeat center/cover;
    }
    .mainslide2{
        background: url('../img/s_mainslide2.jpg') no-repeat center/cover;
    }
    .mainslide3{
        background: url('../img/s_mainslide3.jpg') no-repeat center/cover;
    }
    .mainslide4{
        background: url('../img/s_mainslide4.jpg') no-repeat center/cover;
    }
    .mainslide5{
        background: url('../img/s_mainslide5.jpg') no-repeat center/cover;
    }
    .mainslide6{
        background: url('../img/s_mainslide6.jpg') no-repeat center/cover;
    }
    .mainslide7{
        background: url('../img/s_mainslide7.jpg') no-repeat center/cover;
    }
    .s5-top{
        margin-top: 50px;
        padding: 0 20px;
    }
    .s5-top img{
        display: block;
        float: left;
        width: 30px;
        height: 52px;
    }
    .s5-top h4{
        display: block;
        float: left;
        font-size: 24px;
        line-height: 55px;
        margin-left: 10px;
    }
    .s5-top p{display: none;}
    .s5-top a{display: none;}
    .s5-top span{
        display: block;
        float: right;
        font-size: 13px;
        margin-top: 20px;
        cursor: pointer;
    }
}