@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
*{box-sizing: border-box;}
.cf::after{
    clear: both;
    display: block;
    content: '';
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 100%;
}
#header{
    width: 1520px;
    height: 100px;
    padding: 33px 60px 0 70px;
    z-index: 10;
    position: fixed;
    background: transparent;
    transition: all 0.5s;
}
#header.white{
    background-color: rgba(255,255,255,0.7);
}
#header>h1{
    float: left;
}
#header>h1>a>img{
    width: 108px;
    height: 45px;
    display: block;
    float: left;
    margin-right: 50px;
}
#header>ul>li{
    float: left;
    /* background-color: lightgreen; */
}
#header>ul>li{
    margin: 25px 25px 0 25px;
}
#header>ul>li>a{
    font-weight: bold;
    font-size: 16px;
    color: #222;
}
#header>ul>li>a>img{
    width: 108px;
    height: 45px;
    display: block;
    float: left;
}
.header-right{
    margin-top: 15px;
    float: right;
}
.header-right>a{
    display: block;
    float: left;
    margin: 0 10px;
}
.header-right>a>img{
    width: 25px;
}
.hr-menu{
    width: 25px;
    height: 25px;
    background: url('../img/menu.png') no-repeat center/cover;
}
.hr-menu.close{
    background: url('../img/close.png') no-repeat center/cover;
}
.depth1{}
.depth1>li:nth-child(2)>ul{padding-left: 380px;}
.depth1>li:nth-child(3)>ul{padding-left: 490px;}
.depth1>li:nth-child(4)>ul{padding-left: 600px;}
.depth2{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 10px 0 20px 255px;
    background:rgba(255,255,255,0.7);
    opacity: 0;
    transition: all 0.5s;
}

.depth2>li{
    line-height: 40px;
}
.depth2>li{
    float: left;
    margin: 0 17px;
}
.depth2>li>a{
    font-size: 16px;
    color: #111;
    font-weight: 500;
    display: block;
    width: 100%;
    position: relative;
}
.depth2 a:hover{
    text-decoration: underline;
}
.depth2>li:first-child{
    margin: 0;
}
.firstdepth2{
    padding-right: 50px;
}
.firstdepth2 a::after{
    display: block;
    content: '';
    position: absolute;
    right: -25px;
    top: 15px;
    width: 6px;
    height: 11px;
    background: url('../img/icon-menu-arrow.svg') no-repeat center;
}

.firstdepth3{
    width: 100%;
}
.firstdepth3>li{
    line-height: 40px;
    width: 100%;
}
.firstdepth3>li>a{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: block;
    width: 100%;
}

.depth3>li{
    line-height: 40px;
}
.depth3>li>a{
    font-size: 14px;
    color: #333;
}
/* .depth1>li:hover .depth2{opacity: 1;} */
.full-menu{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    z-index: 10;
    display: none;
}

.fdepth1{
    width: 50%;
    height: 100%;
}
.fdepth1>li{
    text-align: right;
}
.fdepth1>li>a{
    font-size: 30px;
    font-weight: bold;
    display: block;
}
.fdepth1>li:hover>a{
    text-decoration: underline;
}
.fdepth1>li:hover .fdepth2{
    display: block;
}
.fdepth1>li
.fdepth2{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    text-align: left;
    padding-left: 50px;
    display: none;
}
.fdepth2>li>a{
    font-size: 20px;
    display: block;
    width: 170px;
    color: #444;
    position: relative;
    margin: 5px 0;
}
.fdepth2>li>a:hover{
    color: #000;
}
.fdepth2>li>a::after{
    top: 5px;
    right: 0;
    position: absolute;
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/icon-ham-arrow.svg') no-repeat center/cover;
}
.fdepth1>li:first-child ul{top: 20px;}
.fdepth1>li:nth-child(2) ul{top: 65px;}
.fdepth1>li:nth-child(3) ul{top: 110px;}
.fdepth1>li:nth-child(4) ul{top: 155px;}
.fdepth1>li:nth-child(6) ul{top: 245px;}
.fdepth1>li:nth-child(8) ul{top: 335px;}
.fdepth1>li:nth-child(9) ul{top: 380px;}
.fdepth1>li:nth-child(10) ul{top: 425px;}
.fdepth1>li:nth-child(11) ul{top: 470px;}
.fdepth1>li:nth-child(12) ul{top: 515px;}

.solution{
    position: absolute;
    /* background-color: blue; */
    width: 150px;
    height: 100%;
    left: 50px;
    top: 80px;
}
.solution>div>a{
    font-size: 20px;
    color: #555;
    line-height: 30px;
}
.solution>div>a:hover{
    color: #000;
}
.fdepth3>a{ 
    font-size: 16px !important;
    display: block;
}
.fdepth3 a:hover{
    color: #000;
}
.category{
    position: absolute;
    /* background-color: greenyellow; */
    width: 150px;
    height: 100%;
    left: 200px;
    top: 80px;
}
.category>div>a{
    font-size: 20px;
    color: #555;
    line-height: 30px;
}
.category>div>a:hover{
    color: #000;
}
.small-menu{display: none;}
#section{
    width: 100%;
    height: auto;
    clear: both;
    /* background-color: lightgoldenrodyellow; */
}
#section1{
    width: 100%;
    height: 100vh;
}
/* section1 메인슬라이드 */
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.mainslide1{
    background: url('../img/mainslide1.jpg') no-repeat center/cover;
}
.mainslide2{
    background: url('../img/mainslide2.jpg') no-repeat center/cover;
}
.mainslide3{
    background: url('../img/mainslide3.jpg') no-repeat center/cover;
}
.mainslide4{
    background: url('../img/mainslide4.jpg') no-repeat center/cover;
}
.mainslide5{
    background: url('../img/mainslide5.jpg') no-repeat center/cover;
}
.mainslide6{
    background: url('../img/mainslide6.jpg') no-repeat center/cover;
}
.mainslide7{
    background: url('../img/mainslide7.jpg') no-repeat center/cover;
}
.ms-txtbox{
    position: absolute;
    left: 140px;
    bottom: 150px;
}
.ms-txtbox h5{
    font-size: 35px;
    font-weight: bold;
}
.ms-txtbox span{
    font-size: 17px;
    display: block;
    margin-top: 10px;
}
.swiper-scrollbar.swiper-scrollbar-horizontal{
    bottom: 80px;
    width: 80%;
    left: 10%;
}
.swiper-scrollbar-drag{
    background-color: #fff;
}
/* section2 */
#section2{
    background-color: #FBF3EB;
    width: 100%;
    height: auto;
    padding: 160px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s2-box{
    position: relative;
    z-index: 5;
}
.s2-img{}
.s2-img img{
    width: 100%;
    height: 100%;
}
.s2-txt{
    text-align: center;
}
.s2-txt p{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 50px;
}
.s2-txt span{
    font-size: 17px;
    font-weight: bold;
}
/* #section2 Marquee{
    font-family: 'Suez One', serif;
    color: #171C8F;
    font-size: 50px;
    position: relative;
    z-index: 1;
} */
#section3{
    background: url('../img/s3_bg.jpg') no-repeat top center;
    width: 100%;
    height: auto;
    padding-top: 65px;
    text-align: center;
}
.s3-top{
    text-align: center;
}
.s3-top img{
    width: 26px;
    height: 45px;
}
.s3-top h3{
    font-size: 38px;
    font-weight: bold;
    margin: 15px 0;
}
.s3-top p{
    font-size: 16px;
}
.s3-top-a{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    color: #Fff;
    padding: 15px 30px;
    background-color: rgba(17,17,17,0.8);
    transition: all 0.3s;
    margin: 30px 0 50px 0;
}
.s3-top-a:hover{
    background: rgba(17,17,17,0.5);
}
.s3-top-txt{display: none;}
#section3>img{
    display: inline-block;
    margin: 60px 0;
}
.s3txt{
    max-width: 100%;
}
.s3-bottom{
    display: flex;
    padding: 0 30px;
    gap: 10px;
    margin: 20px 0 100px 0;
}
.s3-bottom a{ 
    display: inline-block;
    width: 100%;
    height: 460px;
    position: relative;
}
.s3-bottom a::after{
    display: block;
    content: '';
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #171C8F url('../img/icon-arrow-banner-1.svg') no-repeat center;
}
.s3b1{
    background: url('../img/s4_1.jpg') no-repeat center;
    background-size: cover;
}
.s3b2{
    background: url('../img/s4_2.jpg') no-repeat center;
    background-size: cover;
}
.s3-bottom span{
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    padding: 7px 15px;
    background: #333;
    color: #f5e2e2;
    font-size: 13px;
    text-align: center;
}
#section4{
    width: 100%;
    height: auto;
    padding: 60px 0 60px 0;
    border-bottom: 1px solid #ccc;
}
.s4-top{
    text-align: center;
}
.s4-top img{
    width: 36px;
    height: 45px;
}
.s4-top h4{
    font-size: 38px;
    font-weight: bold;
}
.s4-top p{
    font-size: 16px;
    margin: 20px 0 40px 0;
}
.s4-top a{
    font-size: 16px;
    background: rgba(17,17,17,0.8);
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 100px;
    transition: all 0.3s;
}
.s4-top a:hover{
    background: rgba(17,17,17,0.5);
}
.s4-bottom{
    display: flex;
}
.s4-left{
    width: 50%;
    background: url('../img/s4-1.jpg') no-repeat center/cover;
}
.s4-right{
    float: left;
    width: 48%;
    display: flex;
    margin-left: 2%;
    gap: 1.5%;
    flex-wrap: wrap;
    height: 100%;
}
.s4r-box{
    width: 49%;
    height: 50%;
}
.s4r-box img{
    max-width: 100%;
}
.s4rb-bottom{
    background: #fafafa;
    padding: 20px;
}
.s4rb-bottom span{
    font-size: 14px;
    color: #777;
    display: block;
}
.s4rb-bottom span.s4r-price{
    width: 100%;
    height: 34px;
    display: block;
    background: #fff;
    border: 1px solid #d9d9d9;
    line-height: 30px;
    padding-left: 10px;
    color: #222;
    font-size: 18px;
    font-weight: bold;
}
.s4rb-bottom a{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#section5{
    width: 100%;
    padding-top: 50px;
}
.s5-top{
    text-align: center;
}
.s5-top img{
    width: 38px;
    height: 65px;
}
.s5-top h4{
    font-size: 38px;
    margin: 0 0 20px 0;
    font-weight: bold;
}
.s5-top p{
    font-size: 16px;
}
.s5-top a{
    font-size: 16px;
    background: rgba(17,17,17,0.8);
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 5px;
    margin: 30px 0;
    transition: all 0.3s;
}
.s5-top a:hover{
    background: rgba(17,17,17,0.5);
}
.s5-top span{display: none;}
.s5-bottom{
    width: 90%;
    height: auto;
    margin: 50px auto;
    display: flex;
    gap: 10px;
}
.s5-bottom div{
    width: 100%;
    height: 350px;
    position: relative;
    display: inline-block;
}
.s5-bottom div:first-child{
    background: url('../img/s5_1.jpg') no-repeat center/cover;
}
.s5-bottom div:nth-child(2){
    background: url('../img/s5_2.jpg') no-repeat center/cover;
}
.s5-bottom div:nth-child(3){
    background: url('../img/s5_3.jpg') no-repeat center/cover;
}
.s5-bottom div:nth-child(4){
    background: url('../img/s5_4.jpg') no-repeat center/cover;
}
.s5-bottom div::after{
    display: block;
    content: '특별';
    padding: 5px 8px;
    background-color: #FEDA00;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
#section6{
    width: 100%;
    height: auto;
    background: url('../img/s6_bg_blur.png') no-repeat top center/cover;
    padding: 60px 0;
}
.s6-top{
    text-align: center;
    margin-bottom: 50px;
}
.s6-top img{}
.s6-top h4{
    font-size: 38px;
    font-weight: bold;
    margin: 5px 0 25px 0;
}
.s6-top p{
    font-size: 16px;
    margin-bottom: 15px;
}
.s6-top a{
    font-size: 16px;
    background: rgba(17,17,17,0.8);
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 5px;
    margin: 30px 0;
    transition: all 0.3s;
}
.s6-top a:hover{
    background: rgba(17,17,17,0.4);
}
.s6-top span{
    display: none;
}

.s6-bottom{
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
}
.s6box{}
.s6box img{
    width: 100%;
    display: block;
}
.s6bb{
    background-color: rgba(255,255,255,0.5);
    backdrop-filter:blur(10px);
    padding: 15px;
    border-radius: 0 0 10px 10px;
}
.s6bb span{
    font-size: 14px;
    color: #777;
}
.s6bb a{
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    transition: all 0.3s;
}
.s6bb a:hover{
    color: #666;
}
.s6bb p{
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    padding: 5px 10px;
}
#section7{
    width: 100%;
    padding: 80px 0;
    display: flex;
    position: relative;
    border-bottom: 1px solid #ccc;
}
#section7::after{
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 30%;
    right: 0;
    top: 0;
    background-color: #F2C6CF;
    z-index: -1;
}
.s7-left{
    width: 45%;
    height: 850px;
    margin-right: 8%;
    position: relative;
}
.s7-left h5{
    font-size: 30px;
    transform: rotate(-90deg);
    display: inline-block;
    margin-top: 130px;
    margin-left: 140px;
}
.s7-left a{
    display: block;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
.s7-left a img{
    display: block;
}
.s7-left span{
    font-size: 38px;
    position: absolute;
    display: block;
    bottom: 90px;
    right: 0;
}
.s7-left p{
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    right: 0;
}

.s7-right{
    width: 47%;
    height: 850px;
    position: relative;
}
.s7-sns{
    display: block;
    position: absolute;
    right: 170px;
    top: 0px;
}
.s7-sns a{
    display: block;
    margin: 20px 0;
}
.s7-sns a img{
    width: 38px;
}
.s7-right h5{
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    top: 240px;
}
.s7-right h5 strong{
    font-weight: bold;
}
.s7-right>a{
    display: block;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
}
.s7-right>a>img{
    width: 545px;
}
.s7-swiper{display: none;}
#section8{
    width: 100%;
    padding: 50px 0;
    clear: both;
    margin-bottom: 150px;
}
.s8-top{
    text-align: center;
    clear: both;
}
.s8-top img{}
.s8-top h4{
    margin: 20px 0;
    font-size: 38px;
    font-weight: bold;
}
.s8-top a{
    font-size: 16px;
    background: rgba(17,17,17,0.8);
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 50px;
    transition: all 0.3s;
}
.s8-top a:hover{
    background: rgba(17,17,17,0.4);
}
.s8-bottom{
    display: flex;
    height: 495px;
    padding: 0 50px;
    gap: 20px;
}
.s8-bottom div{
    width: 100%;
    height: 100%;
    position: relative;
}
.s8-bottom div:first-child{
    background: url('../img/s8_1.jpg') no-repeat center/cover;
}
.s8-bottom div:nth-child(2){
    background: url('../img/s8_2.jpg') no-repeat center/cover;
}
.s8-bottom div p{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-shadow: 0 0 7px #555;
}
#footer{
    width: 100%;
    padding: 30px 20px 100px 20px;
    margin-top: 20px;
    background-color: #f7f7f7;
    display: flex;
    font-size: 14px;
}
.footer-left{
    width: 50%;
    /* background-color: yellow; */
    position: relative;
}
.footer-left>p{
    margin-bottom: 20px;
}
.footer-left>a{
    position: absolute;
    top: 0;
    right: 60px;
}
.fmenu{
    display: flex;
    margin-bottom: 30px;
}
.fmenu a{
    padding: 0 25px;
    border-right: 1px solid #ccc;
}
.fmenu a:first-child{
    padding: 0 25px 0 0;
}
.fmenu a:hover{
    text-decoration: underline;
}
.finfo{
    margin-bottom: 30px;
}
.finfo img{
    width: 120px;
    display: inline-block;
    vertical-align: top;
}
.finfo div{
    display: inline-block;
    margin-left: 20px;
}
.finfo div p{
    font-size: 12px;
    line-height: 22px;
}
.finfo div address{
    display: inline;
    font-size: 12px;
    line-height: 22px;
}
.frights{
    font-size: 11px;
    color: #171C8F;
    font-weight: bold;
}
.footer-right{
    padding-top: 50px;
    width: 50%;
}
.fcontact{
    display: flex;
    clear: both;
    margin-bottom: 30px;
}
.fcontact h6{
    /* float: left; */
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}
.fcontact>div{}
.fcontact>div>div{
    float: left;
    margin-bottom: 20px;
}
.fcontact>div>div:first-child{
    margin-right: 50px;
}
.fcontact>div>div:nth-child(3){
    line-height: 25px;
}
.fcontact>div>div>img{
    width: 25px;
    display: inline-block;
    margin-right: 10px;
    /* vertical-align: super; */
    line-height: 50px;
}
.fcontact>div>div>p{
    display: inline-block;
}

.fsns{
    position: absolute;
    right: 20px;
}
.fsns a{}
.fsns a img{
    width: 25px;
    display: inline-block;
    margin: 0 5px;
}